.no-margin {
    margin-top: 0px !important;
}

.card-task {
    width: 325px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 5px 0 20px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.doing {
    border-left: 5px solid #ffcc00;
}

.doing > button {
    background-color: #ffcc00;
}

.do {
    border-left: 5px solid #ff3b30;
}

.do > button {
    background-color: #ff3b30;
}

.done {
    border-left: 5px solid #4cd964;
}

.done > button {
    background-color: #4cd964;
}

.card-title {
    font-size: 18px;
    color: black;
}

.letter-name {
    width: 26px;
    height: 24px;
    border-radius: 20px;
    background-color: #635aa3;
    text-align: center;
    color: white;
    font-size: 14.4px;
    font-weight: 500;
    padding: 3px 1px 0 0;
}

.checklist-options {
    width: calc(100% - 20px);
    margin-top: 20px;
}

.checklist-options > input[type=checkbox]{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.checklist-options label {
    position: absolute;
    display: inline-block;
    margin-top: 6px;
    margin-left: 5px;
    font-size: 14px;
}

.checklist-options > input[type=checkbox]:checked + label {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}

.divisor {
    width: calc(100% + 20px);
    opacity: 0.5;
    margin: 30px 0 30px -20px;
}

.deadline {
    position: absolute;
    margin-left: 10px;
    opacity: 0.5;
}

.date-deadline {
    position: absolute;
}

.footer {
    width: calc(100% - 20px);
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer > img, .footer > a {
    margin: 0 20px 0 20px;
}

.div-content {
    width: calc(100% - 20px);
}

.date-deadline {
    position: absolute;
    margin-left: 220px;
}

.divisor {
    width: calc(100% - 20px);
}