.content {
    margin-top: 0px;
}

.checklist-options {
    width: calc(100% - 20px);
}

.checklist-options > input[type=checkbox]{
    width: 24px;
    height: 24px;
    object-fit: contain;
    opacity: 0.38;
}

.checklist-options label {
    position: absolute;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.new-task {
    margin-top: 30px;
}

.avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    opacity: 0.3;
}

.responsible > img:hover {
    opacity: 1;
    border: 1px solid #e94583;
}